@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --mode-background: hsl(0, 0%, 93%);
  --mode-hover-background: #C6C6C7;
  --header-background: hsl(200, 60%, 99%);
  --text-color: hsl(227, 75%, 14%);
  --paragraph-color: hsl(226, 11%, 37%);
  --button-background: hsl(200, 60%, 99%);
  --button-hover-background: hsl(200, 60%, 100%);
  --button-hover-text-color: hsl(226, 11%, 37%);

  --active-color: hsl(3, 86%, 64%);
  --focus-color: hsl(3, 71%, 56%);
  --hover-color: hsl(3, 77%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--main-background);
}

body.dark-theme {
  --main-background: linear-gradient(180deg, #040918 0%, #091540 100%);
  --header-background: hsl(226, 25%, 17%);
  --mode-background: hsl(225, 23%, 24%);
  --mode-hover-background: #52576B;
  --text-color: hsl(200, 60%, 99%);
  --paragraph-color: hsl(0, 0%, 78%);
  --button-background: hsl(225, 23%, 24%);
  --button-hover-background: #52576B;
  --button-hover-text-color: hsl(200, 60%, 99%);
}

main {
  margin: 1rem;
}

header {
  background: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  border-radius: .7rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

header .mode {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  background: var(--mode-background);
  border-radius: .6rem;
  cursor: pointer;
}

header .mode:hover {
  background: var(--mode-hover-background);
}

header .mode img {
  width: 20px;
}

.extensions {
  color: var(--text-color);
}

.extension-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.extension-heading h1 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.extension-heading .buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.extension-heading button {
  padding: 1rem 1.5rem;
  border-radius: 30px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  background: var(--button-background);
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--text-color);
  outline: 0;
}

.extension-heading button.active {
  background: var(--active-color);
  color: var(--header-background);
}

.extension-heading button.active:hover {
  background: var(--hover-color);
  color: var(--header-background);
}

.extension-heading button:hover {
  background: var(--button-hover-background);
  color: var(--button-hover-text-color);
}

.extension-heading button:focus {
  border: 2px solid var(--focus-color);
  background: var(--active-color);
  color: var(--header-background);
} 

.extension-card {
  background: var(--header-background);
  border-radius: .8rem;
  padding: 1.5rem;
  border: 1px solid var(--mode-background);
  margin-bottom: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.card-details p {
  margin: .5rem 0 2rem 0;
  color: var(--paragraph-color);
}

.card-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .8rem;
}

.card-features img {
  cursor: pointer;
}

.card-features button {
  font-family: inherit;
  background: transparent;
  padding: .5rem 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  outline: 0;
}

.card-features button:focus {
  border: 2px solid var(--focus-color);
}

.card-features button:hover {
  background: var(--hover-color);
  color: var(--header-background);
}

@media (min-width: 768px) {
  main {
    margin: 1.5rem 2.5rem;
  }

  header {
    border-radius: 1rem;
  }

  .extension-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem 0;
  }

  .extension-heading ul li {
    display: flex;
    align-items: center;
    height: 43px;
  }

  .extension-heading h1 {
    margin: 0;
  }

  .extension-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 1.5rem 3.5rem;
  }

  .extension-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  main {
    margin: 1.5rem 7rem;
  }
}
