@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-background: hsl(217, 61%, 90%);
  --mode-background: hsl(0, 0%, 93%);
  --header-background: hsl(200, 60%, 99%);
  --text-color: hsl(227, 75%, 14%);
  --paragraph-color: hsl(226, 11%, 37%);
  --li-background: hsl(200, 60%, 99%);

  --hover-color: hsl(3, 86%, 64%);
  --focus-color: hsl(3, 71%, 56%);
  --active-color: hsl(3, 77%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--main-background);
}

body.dark-theme {
  --main-background: hsl(227, 75%, 14%);
  --header-background: hsl(226, 25%, 17%);
  --mode-background: hsl(225, 23%, 24%);
  --text-color: hsl(200, 60%, 99%);
  --paragraph-color: hsl(0, 0%, 78%);
  --li-background: hsl(225, 23%, 24%);
}

main {
  margin: 1rem;
}

header {
  background: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem;
  border-radius: .6rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

header .mode {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  background: var(--mode-background);
  border-radius: .6rem;
  cursor: pointer;
}

header .mode:hover {
  background: #C6C6C5;
}

header .mode img {
  width: 20px;
}

.extensions {
  color: var(--text-color);
}

.extension-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.extension-heading h1 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.extension-heading ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.extension-heading ul li {
  padding: 1rem 1.5rem;
  border-radius: 30px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  background: var(--li-background);
  font-weight: 500;
}

.extension-heading ul li:focus {
  
}

.extension-heading ul li.active {
  background: var(--active-color);
  color: var(--header-background);
  border: 2px solid var(--focus-color);
}

.extension-heading ul li:hover {
  background: var(--hover-color);
  color: var(--header-background);
}

.extension-card {
  background: var(--header-background);
  border-radius: .8rem;
  padding: 1.5rem;
  border: 1px solid var(--mode-background);
  margin-bottom: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

.card-details {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.card-details p {
  margin: .5rem 0;
  color: var(--paragraph-color);
}

.card-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .8rem;
}

.card-features button {
  font-family: inherit;
  background: transparent;
  padding: .5rem 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.card-features button:focus {
  border: 2px solid var(--focus-color);
}

.card-features button:hover {
  background: var(--hover-color);
  color: var(--header-background);
}

.card-features i {
  font-size: 25px;
  color: var(--active-color);
}

.card-features i:focus {
  
}